<!DOCTYPE html>
<html>
<head>
	<title>Account Registration</title>
  <link rel="stylesheet" href="/public/css/styles.css" type="text/css">

</head>
<body>
	<header>
	  <ul class="navbar">
	   <li><a href="/logout">Logout</a></li>
		<li><a href="/FuelQuoteForm">Fuel Quote Form</a> </li>
		<li><a href="/FuelPurchaseHistory">Fuel Purchase History</a></li>
        <li><a href="/ProfileManager">Profile Manager</a></li>
		<li><a href="/index">Profile</a></li>
	  </ul> 
	</header>
	
	<h1>Fuel Quote Form</h1>

	<form method="POST" action="/submit-fuel-quote">
		<label for="gallons-requested">Gallons Requested:</label>
		<input type="number" id="gallons" name="gallons" required class="fuel-quote-form"><br>

		<label for="delivery-address">Delivery Address:</label>
		<input type="text" id="delivery-address" name="deliveryAddress" required class="fuel-quote-form"><br>		

		<label for="delivery-date">Delivery Date:</label>
		<input type="date" id="date" name="date" required class="fuel-quote-form"><br>

		<label for="suggested-price">Suggested Price / gallon:</label>
		<input type="number" id="price" name="price" readonly class="fuel-quote-form"><br>

		<label for="total-amount-due">Total Amount Due:</label>
		<input type="number" id="total" name="total" readonly class="fuel-quote-form"><br>

		<button id="get-quote" type="button" disabled>Get Quote</button>
		<input type="submit" class="fuel-quote-form" disabled></input>
	</form>

	<script>
		const gallonsInput = document.getElementById('gallons');
		const deliveryAddressInput = document.getElementById('delivery-address');
		const dateInput = document.getElementById('date');
		const priceInput = document.getElementById('price');
		const totalInput = document.getElementById('total');
		const getQuoteButton = document.getElementById('get-quote');
		const submitButton = document.querySelector('input[type="submit"]');
	  
		function checkFormValues() {
		  if (gallonsInput.value && deliveryAddressInput.value && dateInput.value) {
			getQuoteButton.disabled = false;
		  } else {
			getQuoteButton.disabled = true;
		  }
		}
	  
		gallonsInput.addEventListener('input', checkFormValues);
		deliveryAddressInput.addEventListener('input', checkFormValues);
		dateInput.addEventListener('input', checkFormValues);
	  
		getQuoteButton.addEventListener('click', async () => {
		  const response = await fetch('/get-quote', {
			method: 'POST',
			headers: {
			  'Content-Type': 'application/json'
			},
			body: JSON.stringify({
			  gallons: gallonsInput.value,
			  deliveryAddress: deliveryAddressInput.value,
			  date: dateInput.value
			})
		  });
	  
		  if (response.ok) {
			const data = await response.json();
			priceInput.value = data.price.toFixed(3);
			totalInput.value = data.total.toFixed(2);
			submitButton.disabled = false;
		  }
		});
	  </script>
	  

</body>


</html>
