<!DOCTYPE html>
<html>
<head>
	<title>Account Registration</title>
  <link rel="stylesheet" href="/public/css/styles.css" type="text/css">

</head>
<body>
	<header>
		<!-- Navbar content -->
	  <ul class="navbar">
		<!-- <li><a class="nav-item nav-link" href="#Home">Home</a> </li> -->
	   <!-- <li><a href="#Home"> <img id="logo" src="PUMP_PRICE_PRO.png"></a></li> -->
	   <li class="navbar" ><a>
		<form class="no-style2" action="/logout?_method=DELETE"  method="POST">
			<button  class="no-style">Log Out</button>
		</form>
	  </a>
		</li>
		<li><a href="/FuelQuoteForm">Fuel Quote Form</a> </li>
		<li><a href="/FuelPurchaseHistory">Fuel Purchase History</a></li>
        <li><a href="/ProfileManager">Profile Manager</a></li>
	  </ul> 
	</header>
	
	<h1>Fuel Quote Form</h1>

	<form method="POST" action="submit-form.php">
		<label for="gallons-requested">Gallons Requested:</label>
		<input type="number" id="gallons-requested" name="gallons-requested" required class="fuel-quote-form"><br>

		<label for="delivery-address">Delivery Address:</label>
		<input type="text" id="delivery-address" name="delivery-address" required class="fuel-quote-form"><br>

		<label for="delivery-date">Delivery Date:</label>
		<input type="date" id="delivery-date" name="delivery-date" required class="fuel-quote-form"><br>

		<label for="suggested-price">Suggested Price / gallon:</label>
		<input type="number" id="suggested-price" name="suggested-price" required class="fuel-quote-form"><br>

		<label for="total-amount-due">Total Amount Due:</label>
		<input type="number" id="total-amount-due" name="total-amount-due" readonly class="fuel-quote-form"><br>

		<input type="submit" class="fuel-quote-form"></input>
	</form>

</body>





</html>

	

