<!DOCTYPE html>
<html>
<head>
	<title>Account Registration</title>
  <link rel="stylesheet" href="/public/css/styles.css" type="text/css">

</head>
<body>
	<header>
		<!-- Navbar content -->
	  <ul class="navbar">
		<!-- <li><a class="nav-item nav-link" href="#Home">Home</a> </li> -->
	   <!-- <li><a href="#Home"> <img id="logo" src="PUMP_PRICE_PRO.png"></a></li> -->
	   <li class="navbar" ><a>
		<form class="no-style2" action="/logout?_method=DELETE"  method="POST">
			<button  class="no-style">Log Out</button>
		</form>
	  </a>
		</li>
		<li><a href="/FuelQuoteForm">Fuel Quote Form</a> </li>
		<li><a href="/FuelPurchaseHistory">Fuel Purchase History</a></li>
        <li><a href="/ProfileManager">Profile Manager</a></li>
	  </ul> 
	</header>
	
</body>





</html>
