<!DOCTYPE html>
<html>
<head>
	<title>Account Registration</title>
  <link rel="stylesheet" href="/public/css/styles.css" type="text/css">
  <script>
    console.log('works')
  </script>
</head>
<body>
	<header>
		<!-- Navbar content -->
	  <ul class="navbar">
		<!-- <li><a class="nav-item nav-link" href="#Home">Home</a> </li> -->
	   <!-- <li><a href="#Home"> <img id="logo" src="PUMP_PRICE_PRO.png"></a></li> -->
		<li><a href="FuelQuoteForm.html">Fuel Quote Form</a> </li>
		<li><a href="FuelPurchaseHistory.html">Fuel Purchase History</a></li>
		<li><a href="login.html">Home</a></li> 
	  </ul> 
	</header>
	

</body>




<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method = "POST">
  <button type="submit">Log Out</button>
</form>
</h1>
</html>
