<!DOCTYPE html>
<html>
<head>
	<title>Account Registration</title>
  <link rel="stylesheet" href="/public/css/styles.css" type="text/css">

</head>
<body>
	<header>
		<!-- Navbar content -->
	  <ul class="navbar">
		<!-- <li><a class="nav-item nav-link" href="#Home">Home</a> </li> -->
	   <!-- <li><a href="#Home"> <img id="logo" src="PUMP_PRICE_PRO.png"></a></li> -->
		<li><a href="/FuelQuoteForm">Fuel Quote Form</a> </li>
		<li><a href="/FuelPurchaseHistory">Fuel Purchase History</a></li>
		<li><a href="login.html">Home</a></li> 
		<li>
			<form class= "navbar"action="/logout?_method=DELETE" method="POST">
			  <button type="submit" class="navbar">Logout</button>
			</form>
		</li>
	  </ul> 
	</header>
	
	

	<h1>Welcome <%= name %></h1>
		<form action="/logout?_method=DELETE" method = "POST">
			<button type="submit">Log Out</button>
		</form>
	</h1>
</body>





</html>
