<!DOCTYPE html>
<html>
<head>
	<title>Account Registration</title>
  <link rel="stylesheet" href="/public/css/styles.css" type="text/css">

</head>
<body>
	<header>
		<!-- Navbar content -->
	  <ul class="navbar">
		<!-- <li><a class="nav-item nav-link" href="#Home">Home</a> </li> -->
	   <!-- <li><a href="#Home"> <img id="logo" src="PUMP_PRICE_PRO.png"></a></li> -->
	  
  <li><a href="/FuelQuoteForm">Fuel Quote Form</a> </li>
  <li><a href="/FuelPurchaseHistory">Fuel Purchase History</a></li>
	  </ul> 
	</header>
	
	

    <h1>Login</h1>
    <%  if (messages.error){ %>
        <%= messages.error  %>
        <% } %>
    <form action = "/login" method = "POST"> 
        <div>
            <label for = "email"> Email</label>
            <input type="email" id = "email" name = "email" required>
        </div>    
        <div>
            <label for = "password"> Password</label>
            <input type="password" id = "password" name = "password" required>
        </div>  
        <button type="submit"> Login </button>  
        <a href="/Register" style="float: right; margin-top:25px;">Register</a>
        </form>
     

    </body>

</html>
