<!DOCTYPE html>
<html>
<head>
	<title>Account Registration</title>
  <link rel="stylesheet" href="/public/css/styles.css" type="text/css">
  <script>
    console.log('works')
  </script>
</head>
<body>
	<header>
		<!-- Navbar content -->
	  <ul class="navbar">
		<!-- <li><a class="nav-item nav-link" href="#Home">Home</a> </li> -->
	   <!-- <li><a href="#Home"> <img id="logo" src="PUMP_PRICE_PRO.png"></a></li> -->
		<li><a href="FuelQuoteForm.html">Fuel Quote Form</a> </li>
		<li><a href="FuelPurchaseHistory.html">Fuel Purchase History</a></li>
		<li><a href="login.html">Home</a></li> 
	  </ul> 
	</header>
	
	

    <h1>Register</h1>
    <form action = "/register" method = "POST">
    <div>
        <label for = "name"> Name</label>
        <input type="text" id = "name" name = "name" required>
    </div>    
    <div>
        <label for = "email"> Email</label>
        <input type="email" id = "email" name = "email" required>
    </div>    
    <div>
        <label for = "password"> Password</label>
        <input type="password" id = "password" name = "password" required>
    </div>  
    <button type="submit"> Register </button>  
    <a href="/login" style="float: right; margin-top:25px;">To Login</a>
    </form>
   
    </body>

</html>

